@tailwind base;
@tailwind components;
@tailwind utilities;
@import "/node_modules/leaflet/dist/leaflet.css";

/* #map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 70%;
} */

.leaflet-control-attribution{
  display: none;
}

#backdrop {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}